.logo h1 {
    font-size: 2rem;
    padding-left: 1.75rem;
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: var(--primary-main);
}

.navbar-end {
    padding-right: 2rem;
}

.navbar-item {
    color: white;    
}

.section.nopad {
    padding: 0.5rem;
}

.section {
    padding-top: 1rem;
}
