
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<!-- Import the Vitessce JS -->
<script crossorigin src="https://unpkg.com/vitessce@1.1.6/dist/umd/production/index.min.js"></script>

<!-- Import the custom JS -->
{{ $externals := slice "react" "react-dom" "vitessce" }}
{{ $opts := dict "targetPath" "main.js" "externals" $externals }}
{{ $built := resources.Get "scripts/vitessce.js" | babel | js.Build $opts }}
<script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>

